
a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.input-filter-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.nav-bar-container {
  display: flex;
  gap: 1rem;
  justify-content:flex-start;
}

main {
  min-height: 80vh;
}

.test-units-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, 200px);  */
}


.list-container {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  padding: 0;
  margin: 0;
  column-gap: 20px;
}

.header-row {
  font-weight: bold;
}

.daily-container {
  border: solid;
  padding: 20px;
  min-height: 250px;
}

.weekly-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 500px);
}

ul.list-container {
  list-style-type: none;
  margin-left: 25px;
}

.date-header {
  text-align: center;
  margin-top: 0;
}

.navbar-container {
  display: flex;
  gap: 20px;
}