
a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.input-filter-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.nav-bar-container {
  display: flex;
  gap: 1rem;
  justify-content:flex-start;
}

main {
  min-height: 80vh;
  margin: 0;
}

main h3 {
  text-align: center;
}

body {
  margin: 0;
}

.test-units-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, 200px);  */
}


.list-container {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 140px); */
  padding: 0;
  margin: 0;
  align-items: left;
  list-style-type: none;
}

.header-row {
  font-weight: bold;
}

.daily-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 20px;
  min-height: 250px;
  border-radius: 5px;
}

.row-container {
  display: flex;
}

.row-container p {
  margin: 0;
}

.row-container div {
  margin: 0 10px 0 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

div.unit-container .btn-container {
  justify-content: left;
}

.btn-container button {
  width: 30px;
  background-color:rgb(253, 151, 253);
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}

.weekly-container {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 200px);
  margin: 1rem;
}

.date-header {
  text-align: center;
  margin-top: 0;
}

.navbar-container {
  display: flex;
  gap: 20px;
}

header, footer {
  background-color: darkgrey;
  padding: 10px;
}

footer {
  text-align: center;
}

.teacher-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.cal-nav-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cal-nav-btn-container a {
  width: 150px;
  background-color:rgb(253, 151, 253);
  padding: 5px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}

.add-data-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.main-header {
  text-align: center;
  background-color: blanchedalmond;
  margin: 0;
  padding: 20px;
}

.side-nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  width: 150px;
  background-color: aqua;
  height: 80vh;
}

.teacher-dashboard {
  display: flex;
}

.form-header {
  text-align: center;
  background-color: lavender;
  margin: 0;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.teacher-dashboard-main {
  width: 100vw;
}

.unit-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.unit-container {
  text-align: left;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.unit-container h4 {
  margin: 5px;
  text-align: center;
}

.student-container {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  min-height: 10rem;
}

.test-event-container {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  min-height: 10rem;
}

.delete-pending {
  background-color: gray;
  color: darkgray;
}

.hidden {
  display: none;
}

.input-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 130px);
}

.input-container-radio {
  display: flex;
  gap: 1rem;
  text-align: left;
  margin: 0;
}

.hide-show-btn {
  background-color: rgb(253, 151, 253);
  padding: 5px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}

.hide-show-btn:active {
  display: none;
}

.item-edit-form {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.item-edit-form input {
  width: 100px;
}

.navbar-top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.application-role-list {
  list-style-type: none;
}

.application-fieldset {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: left;
}

.application-fieldset input[type="radio"] {
  display: flex;
  justify-self: left;
}

.application-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 400px);
}